@font-face {
  font-family: 'mobilohm-font';
  src: url('../font/mobilohm-font.eot?16833231');
  src: url('../font/mobilohm-font.eot?16833231#iefix') format('embedded-opentype'),
       url('../font/mobilohm-font.woff2?16833231') format('woff2'),
       url('../font/mobilohm-font.woff?16833231') format('woff'),
       url('../font/mobilohm-font.ttf?16833231') format('truetype'),
       url('../font/mobilohm-font.svg?16833231#mobilohm-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'mobilohm-font';
    src: url('../font/mobilohm-font.svg?16833231#mobilohm-font') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "mobilohm-font";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-info:before { content: '\e800'; } /* '' */
.icon-stats:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-back:before { content: '\e804'; } /* '' */
.icon-settings:before { content: '\e805'; } /* '' */
.icon-play:before { content: '\e806'; } /* '' */
.icon-dot:before { content: '\e807'; } /* '' */
.icon-pause:before { content: '\e808'; } /* '' */
.icon-save:before { content: '\e809'; } /* '' */
.icon-stop:before { content: '\e80a'; } /* '' */
.icon-left-circle:before { content: '\e80b'; } /* '' */
.icon-right-circle:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-android:before { content: '\e80f'; } /* '' */
.icon-mobile:before { content: '\e810'; } /* '' */
.icon-desktop:before { content: '\e812'; } /* '' */
.icon-desktop-circled:before { content: '\e813'; } /* '' */
.icon-trash:before { content: '\f083'; } /* '' */
.icon-circle:before { content: '\f192'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-gitlab:before { content: '\f296'; } /* '' */
