[data-page]{
  position:absolute; /* or absolute if the content exceeds the height of the page */
  width: 100%;
  min-height: 100vh;
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in;
  z-index: 10;
}

[data-page].active{
  transform: translate3d(0, 0, 0);
  opacity: 1;
  z-index: 100;
}

/* section { */
/*   background-color: #ecebff !important; */
/* } */

.home-container-div {
  /* text-align: center; */
  margin: auto;
}

.slider-wrapper {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

.slides-container {
  /* height: calc(100vh - 2rem); */
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 4em;
  /* bottom: 0; */
  margin: auto;
  height: 4rem;
  background-color: #d6ceff;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

.slide-arrow-prev {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}

.slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
  text-align: center;
}

footer {
  padding: 1em;
  text-align: center;
  background-color: #FFDFB9;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer .heart {
  color: #DC143C;
}

.big-logo img {
  max-width: 260px;
  display: block;
  margin: auto;
}

.modal-card {
  top: 10px;
}

.modal {
  justify-content: unset;
}

/* .container { */
/*     position: relative; */
/*     display: inline-block; */
/* } */

/* .slides-container { */
/*     list-style: none; */
/*     padding: 0; */
/*     margin: 0; */
/* } */

/* .slides-container:hover + .button-container { */
/*     display: block; */
/* } */

/* .button-container { */
/*     display: none; */
/*     position: absolute; */
/*     top: 25%; */
/*     left: 50%; */
/*     transform: translateX(-50%); */
/* } */

/* .button-container button { */
/*     margin: 5px; */
/*     padding: 8px 12px; */
/*     background-color: #007bff; */
/*     color: #fff; */
/*     border: none; */
/*     border-radius: 4px; */
/*     cursor: pointer; */
/* } */

.button-container {
  display: flex;
  justify-content: space-between;
}

span.text {
  display: none;
}

/* Mobile Devices (up to 767px) */
@media (max-width: 767px) {
  span.text {
    display: block;
  }
}

footer {
  margin-top: auto;
}
