/*
 * Dolores App
 * Copyright (C) 2023 yPhil
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

[data-page]{
    position:fixed; /* or absolute if the content exceeds the height of the page */
    width: 100%;
    min-height: 100vh;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: transform 0.5s ease-in, opacity 0.5s ease-in;
    z-index: 10;
}

section#about {
  min-height: unset;
  padding-top: 1rem;
}

[data-page].active{
    transform: translate3d(0, 0, 0);
    opacity: 1;
    z-index: 100;
}

#abort-workout {
  display: none;
  margin-left: 10px;
}

.workout-values {
  min-width: 96px;
}

.header {
  text-align: center;
}

h3 {
  text-align: center; /* Optional: Center align the text */
}

h3.sub-title {
  line-height: 1.25;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem !important;
}

div.setup-block {
  margin-bottom: 2.5rem !important;
}

h2 {
  font: 2rem/1.6 sans-serif;
  margin-bottom: 0.8rem !important;
}

h2.logo {
  /* font: 2rem/1.6 sans-serif; */
  font-weight: bolder;
}

#stats-tabs {
  margin-bottom: 5px !important;
}

button.is-static {
  background-color: unset !important;
  border: none !important;
}

.modal-card-body {
  margin: 0;
}

.container {
  margin-top: 1em;
}

ul.funding-links {
  list-style: disc;
}

table td, .content table th, .table td, .table th {
  padding: 0;
}

table td {
  text-align: center !important;
}

#settings-div {
  padding: 0 1rem;
}

.navbar .navbar-menu {
  border-radius: 0;
}

table {
  min-height: 70vh;
  empty-cells: show;
  background-color: unset !important;
}

@media (max-width: 767px) {
  .day-number-td span {
    display: none; /* Hide all day number spans on smaller screens */
  }

  .day-number-td:nth-child(5n+1) span {
    display: inline-block; /* Display the first day number and then every 5th day number */
  }
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  flex-grow: 1;
  text-align: center;
}


.big-logo img {
  max-width: 260px;
  display: block;
  margin: auto;
}

#workout-container {
    position: relative;
}

#setup-block,
#working-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#working-block {
    display: none;
}

.working-value {
  font-size: 10rem;
}
