body {
  display: block;
}

/* /\* Style the tab *\/ */
/* .tab { */
/*   display: flex; /\* Add this line *\/ */
/*   justify-content: center; /\* Add this line *\/ */
/*   overflow: hidden; */
/*   border-bottom: 1px solid #ccc; */
/*   background-color: #f1f1f1; */
/* } */

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #4CAF50;
}

/* Clear float after the tab */
.tab::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the tab panel */
.tab-panel {
  padding: 0;
  /* border-top: 1px solid grey !important; */
}

.calendar-body {
  /* display: flex; */
  /* flex-direction: column; */
}

.calendar-table {
  min-height: 50vh; /* Adjust this value as needed */
  height: 70vh;
  width: 100%;
  table-layout: fixed;
}

.calendar-table td {
  text-align: center !important;
  /* border-left: 1px solid rgba(0, 0, 0, 0.1); */
  /* border-top: 1px solid rgba(0, 0, 0, 0.05); */
  padding: 0 !important;
}

.highlighted {
  background-color: yellow; /* Set your desired highlight color */
}



.calendar-table td:first-child {
  font-size: 2vw;
  border: none;
}

/* #calendar { */
/*   border-top: 1px solid #eee !important; */
/* } */

.scale table {
  border-collapse: collapse;
}

.workout-day {
  background: linear-gradient(to right, transparent calc(50% - 3px), 50%, transparent calc(50% + 3px)) no-repeat;
  background-size: 100% 100%;
}

.day-numbers-row {
  height: 20px;
}

.total-row td {
  text-align: center !important;
}

.icon-info {
  display: block;
  color: var(--color-icons);
  font-size: 3vw;
  /* margin-left: -16px; */
}

span.day-number {
  /* margin-left: -5px; */
  font-size: 0.5em;
}

.day-number-week-td {
  text-align: center !important;
  font-size: 1.5rem;
}

.browse-buttons {
  margin: .01em .5em !important;
}

.stats-tab-title {
  margin: 0 5px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

div.calendar-body.month-calendar div.scale table.table.calendar-table.calendar-month tbody tr.total-row td a i.icon-info
 {
  font-size: 2vw !important;
}

.table {
  table-layout: fixed;
  border-collapse: collapse;
  /* border: none; */
}

.empty-first-cell {
  border: none !important;
  border-width: 0;
}

tr.empty {
  border-top: 2px solid gray;
}
